<p>
    <label for="agent_contact_id">Agent Requested Tour</label>
    <%= select_tag "agent[contact_id]", 
         %{<option value="">--Select an Agent</option>} +
         options_from_collection_for_select(@agents, :id, :title_full_name, @tour.agent_contact_id.to_i) %> 
</p> 
<p> 
    <label for="eofficer_contact_id">Escrow Officer</label>
     <%= select_tag "eofficer[contact_id]", 
         %{<option value="">--Select an Escrow Officer</option>} +
         options_from_collection_for_select(@eofficers, :id, :title_full_name, @tour.escrow_officer_id.to_i) %> 
</p>

<p>
    <label for="lofficer_contact_id">Loan Officer</label>
    <%= select_tag "lofficer[contact_id]", 
         %{<option value="">--Select an Loan Officer</option>} +
         options_from_collection_for_select(@lofficers, :id, :title_full_name, @tour.loan_officer_id.to_i) %>
</p>
<p>
    <%= form.label :area_id %>    
    <%= select_tag "tour[area_id]", 
         %{<option value="">--Select an Area</option>} +
         option_groups_from_collection_for_select(@locations, :areas, :name, :id, :name, @tour.area_id) %>
</p>
<p>
	<%= form.label :tour_date %>
	<%= calendar_date_select_tag "tour[tour_date]", @tour.tour_date.to_s, :popup => "force" %>
</p>
<p> 
	<%= form.label :tour_name %>
    <%= form.text_field :tour_name %>
</p>
<%= submit_tag button_label, :class => "submit", :disabled => true  %>

